@media only screen and (max-width: 600px) {
    header {
        display: flex;
        text-align: center;
    }
    #mode {
        font-size: 20px;
    }
    #hamburguer-menu {
        display: block;
    }
    nav li {
        display: block;
    }
    nav a {
        display: none;
        font-size: 14px;
    }
    .open a {
        display: block;
    }
    main {
        display: block;
    }
    #main-content {
        display: block;
    }

    #main-image img {
        width: 100%;
        height: 200px;
    }
    
    #info-container {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        margin: 0 0 20px 0;
    }
    
}