@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Color Schema */
    --Primary-Color: #002f5e;
    --Secondary-Color: #2DC7FF;
    --Third-Color: #00ABE7;
    --Fourth-Color: #EABA6B;
    --TextColorOnDarkBG: #FAF4D3;
    --Footer-Background: #4F5165;

    /* Font */
    --Main-Font: "Kanit", sans-serif;
    --Secondary-Font: "Roboto", sans-serif;

    /* ------- Member Benefits ------- */
    --Bronze-MB: #CB8C47;
    --Silver-MB: #E5E5E5;
    --Gold-MB: #FFD60A;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--Primary-Color);
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr .2fr;
    column-gap: 10px;
    padding: 2rem;
    user-select: none;
}

header button {
    align-self: center;
}

.city {
    text-align: center;
}

#mode {
    cursor: pointer;
}

#web-name {
    font-family: var(--Main-Font);
    font-size: 1.7rem;
    color: #fff;
    font-weight: bold;
}

.nav-menu {
    grid-column: 2/5;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

.nav-menu li {
    display: inline-flex;
}

.nav-menu a {
    margin: 0 20px 0 20px;
    color: var(--TextColorOnDarkBG);
    text-decoration: none;
    font-weight: bold;
}

.nav-menu a:hover {
    color: var(--Fourth-Color);
    transition: 1.2s;
}

#mode {
    border-radius: 10px;
    background-color: #00ABE7;
    font-size: 26px;
    color: yellow;
}

#hamburguer-menu {
    display: none;
}

#hamburguer-menu::before {
    content: "☰";
}

#hamburguer-menu.open::before {
    content: "✖";
}

#main-content {
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr .2fr;
    grid-template-rows: 1fr .5fr .5fr;
    column-gap: 10px;
    row-gap: 25px;
}

#main-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    height: 330px;
    width: 100%;
    grid-column: 1/6;
}

#main-image img {
    height: 330px;
    width: 80%;
    border: 1px solid grey;
}

/* ------- Block of Images ------- */
#info-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    grid-column: 2/5;
    width: 100%;
}

.image-container {
    background-color: var(--Primary-Color);

    border: 1px solid var(--Primary-Color);
    width: 500px;
}

.image-container img {
    width: 100%;
    height: 150px;
}

.image h3 {
    font-family: var(--Main-Font);
}

.image-container h3,
p {
    text-align: center;
    margin: 10px;
    color: var(--TextColorOnDarkBG);
}

.image-container button {
    background-color: var(--Fourth-Color);
    font-weight: bold;
    font-family: var(--Main-Font);
    border: none;
    color: var(--TextColorOnDarkBG);
    padding: 10px;
    width: 100%;
    cursor: pointer;
    align-content: flex-end;
}

.image-container button:hover {
    background-color: var(--Third-Color);
    transition: 1.2s;
}

.image-2 {
    background-color: var(--Primary-Color);

    border: 1px solid var(--Primary-Color);
}

.image-3 {
    background-color: var(--Primary-Color);

    border: 1px solid var(--Primary-Color);
}

/* ------- Weather App ------- */
#weather-app {
    background-color: var(--Footer-Background);
    border: 2px solid grey;
    grid-row: 3/3;
    grid-column: 2/3;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: var(--Main-Font);
    text-align: center;
    padding: 10px;
}

#weather-app h3,
p {
    color: white;
}

#weather-app .city {
    font-family: var(--Main-Font);
    font-weight: bold;
    color: var(--Fourth-Color);
}

#weather-app img {
    width: 100px;
    padding: 20px 0 0 0;
}

/* ------- Newsletter Form ------- */
#newsletter-form {
    font-family: var(--Main-Font);
    background-color: #f9f9f9;
    grid-row: 3/3;
    grid-column: 3/5;
    margin-bottom: 20px;
    border: 2px solid var(--Third-Color);
    border-radius: 10px;
    padding: 10px;
}

#newsletter-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#newsletter-form h3 {
    text-align: center;
    margin: 0 0 20px 0;
    color: var(--Primary-Color);
}

#newsletter-form label {
    color: var(--Footer-Background);
    font-weight: bold;
}

#newsletter-form button {
    font-family: var(--Main-Font);
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    background-color: var(--Secondary-Color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#newsletter-form button:hover {
    background-color: green;
    transition: 1.2s;
}

footer {
    background-color: var(--Footer-Background);
    padding: 2rem;
    user-select: none;
    color: #fff;
}

footer li {
    list-style-type: none;
}

footer a {
    color: var(--TextColorOnDarkBG);
    text-decoration: none;
}

footer a:hover {
    color: var(--Fourth-Color);
}

#website-name {
    color: var(--Secondary-Color);
}

/* Discover */
#discover-container {
    display: grid;
    grid-template-columns: .5fr 1fr .2fr;
    grid-template-rows: auto;
}

#side-bar {
    display: flex;
    flex-direction: column;
    background-color: #155b7e;
}

.heading {
    align-self: center;
}

.heading-2 {
    align-self: start;
}

#side-bar h2 {
    background-color: #4F5165;
    text-align: center;
    color: var(--TextColorOnDarkBG);
    font-family: var(--Main-Font);
}

#side-bar p {
    background-color: var(--Secondary-Color);
    color: var(--Footer-Background);
    padding: 5px;
    font-family: var(--Secondary-Font);
}

#discover-content {
    margin: 0 auto;
    grid-column: 2/4;
}

#discover-content h1 {
    font-family: var(--Main-Font);
    text-align: center;
    background-color: var(--Primary-Color);
    color: var(--Fourth-Color);
}

#calendar {
    align-self: center;
    width: 100%;
    border: 2px solid var(--TextColorOnDarkBG);
    height: inherit;
}

.discover-images img:hover {
    border: 2px solid var(--Footer-Background);
    border-radius: 3px;
    opacity: .7;
}

/* ---------- JOIN PAGE ---------- */
/* ---------- FORM ---------- */

h1 {
    text-align: center;
}

#mb-button {
    display: none;
}

#mb-button::before {
    content: '🔽';
}

#mb-button.open::before {
    content: '❌';
}

.join-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.join-form div {
    margin-bottom: 10px;
}

.join-form label {
    color: var(--Footer-Background);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Membership Level Benefits Section */
.membership-container {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--Footer-Background);
}

.membership-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--Secondary-Color);
}

.membership-container ul {
    list-style: none;
    padding: 0;
}

.membership-container li {
    margin-bottom: 10px;
}

.membership-container fieldset {
    width: 100%;
}

.membership-benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.membership-benefits fieldset {
    margin: 0 10px 0 10px;
}

legend {
    font-weight: bold;
}

.default legend {
    color: var(--Secondary-Color);
}

.default {
    border: 1px solid var(--Secondary-Color);
}

.bronze legend {
    color: var(--Bronze-MB);
}

.bronze {
    border: 1px solid var(--Bronze-MB);
}

.silver legend {
    color: var(--Silver-MB);
}

.silver {
    border: 1px solid var(--Silver-MB);
}

.gold legend {
    color: var(--Gold-MB);
}

.gold {
    border: 1px solid var(--Gold-MB);
}

/* ---------- Directory ---------- */
.directory-container {
    padding: 20px;
}

.menu {
    margin: 1rem auto;
    border: 1px solid var(--Primary-Color);
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--Footer-Background);
    text-align: center;
}

.menu button {
    padding: .5rem;
    font-weight: 700;
}

.members-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 auto;
    width: fit-content;
}

.members-container section {
    border: 2px solid var(--Primary-Color);
    border-radius: 4px;
    background-color: var(--Footer-Background);
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.members-container h2 {
    color: var(--Secondary-Color);
    font-family: var(--Main-Font);
}

.members-container p {
    color: var(--TextColorOnDarkBG);
    font-family: var(--Secondary-Font);
}

.members-container a {
    color: var(--Bronze-MB);
    font-family: var(--Main-Font);
}

.members-container a:hover {
    color: var(--Secondary-Color);
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: var(--Primary-Color);
}