:root {
    --Primary-color: #efe;
    --Secondary-color: #2e2e2e;
    --Star-color: gold;
}

body {
    background-color: var(--Secondary-color);
}

.main-form {
    background-color: var(--Primary-color);
    width: 80%;
    border-radius: 8px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
}

.main-form label {
    display: block;
    font-size: .9rem;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

.main-form input[type="text"],
.main-form input[type="password"],
.main-form input[type="email"] {
    display: block;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .7rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.main-form input[type="submit"] {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--Secondary-color);
    color: white;
    padding: .8rem;
    width: 80%;
    max-width: 400px;
    margin: 5px;
    font-weight: bold;
}

/* -------------- RATING -------------- */
#r {
    width: 180px;
    margin-bottom: 0;
}

#rangevalue {
    font-size: 2rem;
    color: navy;
}

#rangevalues {
    display: flex;
    margin: 0 auto;
    width: 200px;
}

#rangevalues option {
    flex: 1 1 auto;
    margin-bottom: 20px;
}

/* -------------- Button -------------- */
.main-form input[type="submit"]:hover {
    background-color: green;
}